<div class="movie-row">
  <h2 class="row-title">{{ category.name }}</h2>
  <div class="row-container">
    <button class="scroll-btn scroll-btn-left" (click)="scrollLeft()">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
        <path d="M15.41 7.41L14 6L8 12L14 18L15.41 16.59L10.83 12L15.41 7.41Z"/>
      </svg>
    </button>
    <div class="row-posters" [id]="getRowId()">
      <app-movie-card *ngFor="let movie of category.movies" [movie]="movie"></app-movie-card>
    </div>
    <button class="scroll-btn scroll-btn-right" (click)="scrollRight()">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
        <path d="M8.59 16.59L10 18L16 12L10 6L8.59 7.41L13.17 12L8.59 16.59Z"/>
      </svg>
    </button>
  </div>
</div>